.containerBig {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/-1;
    display: grid;
    grid-template-rows: 150px repeat(5, 50px) 100px repeat(3,50px);
    grid-template-columns: 2fr 5fr;
    gap: 10px;
    padding: 20px;

    background-color: steelblue;
    align-items: center;
}

.sidebar > svg {
    fill: white;
    width: 25px;
    height: auto;
    justify-self: end;
    margin-right: 10px;
}

.sidebar > .bigSVG {
    width: 50px;
    height: auto;
    margin-right: 0px;
}

.sidebar > h2 ,.sidebar > h3 {
    color: white;
}


/* If using SVG as image and want to fill:
.sidebar > img {
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
}
*/

.header {
    grid-column: 2/-1;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;

    background-color: white;
}

.search-row {
    display: grid;
    grid-column: span 2;
    grid-template-columns: 1fr minmax(400px, 50%) 1fr 1fr 1fr 3fr;
    align-items: center;
    justify-items: center;

}

.search-row > input {
    justify-self: stretch;
    border-radius: 15px;
    background-color: rgb(233, 233, 233);
    border: none;
    height: 30px;
}

 .profilePicture {
    border-radius: 50%;
    border: solid;
 }

 .helloBlock {
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    grid-template-columns: 1fr 3fr;
    align-items:center;
    justify-items: start;
    margin-top: 10px;
 }

 .helloBlock > img {
    grid-row: 1/3;
    justify-self: center;
 }

 .helloBlock > h4 {
    margin: 10px;
    margin-bottom: 0px;
    align-self: flex-end;
 }

 .helloBlock > h2 {
    margin: 10px;
    align-self: flex-start;
 }

 .buttonsBlock {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
 }

 .buttonsBlock > button {
    background-color: steelblue;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    margin-left: 10px;
    width: 100px;
 }
 

.projects {
    grid-column: 2/3;
    grid-row: 2/-1;
    display: grid;
    grid-template-rows: 30px 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;


    background-color: lightgray;
}

.projects > h3 {
    grid-column: span 2;
}

.projectCard {
    display: grid;
    grid-template-columns: 10px 1fr;
    grid-template-rows: 50px 1fr 50px;
    background-color: white;
    border-radius: 10px;
}

.projectCard > .cardFlag {
    background-color: #f96d6d;
    grid-row: span 3;
}

.projectCard > h4 {
    margin-bottom: 10px;
    margin-left: 10px;
} 

.cardFlag {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.projectCard > p {
    margin-top: 0px;
    margin-left: 10px;
}

.iconRow {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 20px;
}

.iconRow img {
    margin: 10px;
}

.announcements {
    grid-column: 3/-1;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 50px 3fr;

    background-color: lightgrey;
    padding-right: 20px;
    align-content: center;
}

.announceSection {
    display: grid;
    grid-template-rows: repeat(2, 30px .5fr 25px) 30px .5fr 10px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;

    border-radius: 10px;
    align-content: center;
}

.announceSection > h5 {
    margin-bottom: 5px;
    margin-top: 10px;
}

.announceSection > p {
    margin-top: 0px;
    margin-bottom: 10px;
    color: darkgray;
}

hr {
    width: 100%;
    height: 0px;
    border-width: 1px;
}

.trending {
    grid-column: 3/-1;
    grid-row: 3/-1;
    display: grid;
    grid-template-rows: 50px 3fr;
    padding-right: 20px;
    padding-bottom: 40px;


    background-color: lightgrey;
}

.trendingSection {
    display: grid;
    grid-template-rows: repeat(4, 15px 15px);
    grid-template-columns: .5fr 1fr;
    gap: 20px;
    background-color: white;
    border-radius: 10px;

    padding-top: 15px;
    padding-bottom: 15px;

    align-items: center;
    align-content: center;
}

.trendingSection img {
    grid-row: span 2;
    justify-self: center;
}

.trendingSection > p {
    color: darkgrey;
    margin-top: 0px;
}