.containerBig {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/-1;
    display: grid;
    grid-template-rows: 150px repeat(5, 50px) 100px repeat(3,50px);
    grid-template-columns: 2fr 5fr;
    gap: 10px;
    padding: 20px;

    background-color: steelblue;
    align-items: center;
}

.sidebar > svg {
    fill: white;
    width: 25px;
    height: auto;
    justify-self: end;
    margin-right: 10px;
}

.sidebar > .bigSVG {
    width: 50px;
    height: auto;
    margin-right: 0px;
}

.sidebar > h2 ,.sidebar > h3 {
    color: white;
}


/* If using SVG as image and want to fill:
.sidebar > img {
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
}
*/

.header {
    grid-column: 2/-1;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;

    background-color: beige;
}

.search-row {
    display: grid;
    grid-column: span 2;
    grid-template-columns: 1fr minmax(200px, 40%) 1fr 1fr 2fr;

}

.projects {
    grid-column: 2/3;
    grid-row: 2/-1;
    display: grid;
    grid-template-rows: 50px 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    background-color: lightgray;
}

.projects > h3 {
    grid-column: span 2;
}

.projectCard {
    /* display: grid; */
    /* grid-template-columns: 10px 1fr 30px 30px 30px;
    grid-template-rows: 1fr 3fr 1fr; */
}

.announcements {
    grid-column: 3/-1;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 50px 1fr 1fr 1fr;

    background-color: pink;
}


.trending {
    grid-column: 3/-1;
    grid-row: 3/-1;
    display: grid;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 3fr;

    background-color: orange;
}